= semantic_form_for @contacto do |f|
  = f.inputs do
    = f.input :name, label: 'Nombre'
    = f.input :correo
    = f.input :mensaje, :input_html => { :rows=> 10, :cols=> 80 }

  = f.actions do
    = f.action :submit, label: 'Enviar'
