= semantic_form_for @tournament do |f|
  = f.inputs do
    = f.input :name
    = f.input :image
    = f.input :description
    = f.input :fixture
    = f.input :open
    = f.input :close
    = f.input :start
    = f.input :url

  = f.actions do
    = f.action :submit, :as => :input
