= semantic_form_for @match , :html => {class: "form-horizontal well"} do |f|
  = f.inputs do
    = f.input :match_id
    = f.input :mostrar
    
  = f.actions do
    = f.action :submit, :as => :input
