%p#notice= notice

%p
  %b Name:
  = @video.name
%p
  %b Url:
  = @video.url
%p
  %b Description:
  = @video.description
%p
  %b Image:
  = @video.image

= link_to 'Edit', edit_video_path(@video)
\|
= link_to 'Back', videos_path
