%h2 Iniciar Sesion
= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {class: "form-horizontal well"}) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :email, :label => "Correo Electronico"
    = f.input :password, :label => "Contraseña"
    - if devise_mapping.rememberable?
      = f.input :remember_me, :as => :boolean, :label => "Recordarme"
  = f.actions do
    = f.action :submit, :label => "Iniciar Sesión", :button_html => { :disable_with => 'Iniciando...' }
    = f.action :reset, :label => "Reiniciar"
  
= render "devise/shared/links"
