= semantic_form_for @playlist do |f|
  = f.inputs do
    = f.input :name
    = f.input :link
    = f.input :description
    = f.input :broadcast

  = f.actions do
    = f.action :submit, :as => :input
