!!!
%html
  %head
    %title LGL - Los Gorditos Loleros
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    / Top Bar
    #fb-root
    .container-fluid.navbar-inner
      / Logo y Menu
      .container
        .row{:style => "margin-top: 20px"}
          .span4
            %a.brand{:href => root_path }= image_tag "logolgl.jpg", :height => "50", :width => "90"
            
          .span8
            #social
              %center
                %a{:href => "http://www.facebook.com/LosGorditosLoleros", :target => :_blank}= image_tag "facebook_32.png"
                %a{:href => "http://www.youtube.com/lglcomunidad", :target => :_blank }= image_tag "youtube_32.png"
            %ul.nav.nav-pills.pull-right{:style => "margin-top: 10px"}           
              %li 
                %a{href: "/"} Inicio
              %li
                %a{href: streams_path} Streams
              %li
                %a{href: "#"} Música
              %li
                %a{href: "#"} Torneos
              %li
                %a{href: "#"} Youtube
              %li
                %a{href: "#"} Contacto
                           
    / Mensajes
    #message.container{:style => "padding-top: 20px;"}
      - flash.each do |type,message|
        %div{:class => "alert #{flash_class type}"}
          %a.close{"data-dismiss" => "alert", :href => "#"} ×
          = message
            
    .container-fluid{:style => "padding-bottom:20px;"}
          
            
      / Contenido          
      = yield
      / Fin Contenido
    
    / Footer
    #footer
      %center
        .facebook.container
          .fb-like{"data-href" => "https://www.facebook.com/LosGorditosLoleros", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450"}
         
      
      .container-fluid.navbar-inner{:style => "height:100%"}
        .row-fluid{:style => "margin-top: 10px;"}
          .span5.dropup
            - if user_signed_in?
              %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = image_tag current_user.gravatar_url, :height => "20", :width => "20"
                = current_user.full_name
              %ul.dropdown-menu
                %li 
                  %a{:href => new_stream_path} 
                    %i.icon-facetime-video
                    Agregar Stream
                  %a 
                    %i.icon-music
                    Musica
                  %a
                    %i.icon-user
                    Contactos
                  %a
                    %i.icon-play-circle
                    Youtube    
                  %a{:href => logout_path}
                    %i.icon-remove
                    Cerrar sesión
          .span2                                       
          .span5{:style => "text-align: right"}
            %span.label Desarrollado por e-Clay
       
          